{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input class="btn btn-success" type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}