{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="jumbotron">
<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Who answered</th>
            <th>Statictics</th>
        </tr>
    </thead>
    <tbody>
        {% for r in results %}
            <tr>
                <td>{{ r.question }}</td>
                <td>{{ r.answer }}</td>
                <td> {{ r.user }}</td>
                <td><a href="{% url 'results' r.question_id %}">Statistic</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
<script type="text/javascript">
    $(document).ready(function()
    {
        $("#myTable").DataTable();
    }
);
</script>
{% endblock %}