<!DOCTYPE html>
{% load staticfiles %}
{% load base_extras %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{% static 'qform/style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script type="text/javascript"  src="https://www.google.com/jsapi"></script>
    <title>Question</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
        </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% navactive request 'list_form' %}">
                        <a href="{% url 'list_form' %}">
                            <span class="glyphicons glyphicons-envelope">✉</span>My forms
                        </a>
                    </li>
                   <li class="dropdown">
                        <a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Add<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'form' %}" id="create">Form</a></li>
                            <li><a href="{% url 'main' %}">New question in form</a></li>
                        </ul>
                    </li>
                    <li  class="{% navactive request 'list_vote' %}"><a href="{% url 'list_vote' %}" id="vote">Vote</a></li>
                    <li  class="{% navactive request 'all_results' %}"><a href="{% url 'all_results' %}" id="all_results">My answers</a></li>
                    <li  class="{% navactive request 'answers' %}"><a href="{% url 'answers' %}" id="answ">Answers to my question</a></li>
                    <li  class="{% navactive request 'logout' %}"><a href="{% url 'logout' %}" id="log">LogOut</a></li>
                </ul>

            </div>
            </nav>
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">{% block content%}{% endblock %}</div>
        <div class="col-md-2"></div>
    </div>
</div>
<script>

</script>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>


