{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="jumbotron">
<div class="'row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <span  class="alert alert-danger" > Error! All fields must be full </span>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="'row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a href="{% url 'list_vote' %}">try again</a>
    </div>
    <div class="col-md-4"></div>
</div>
    </div>
{% endblock %}