{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="box">
    {% if not request.user.is_authenticated %}
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>If you first time here you should</p><a href="{% url 'registr' %}">Registrate</a><br>
            <p>If you already been here then </p><a href="{% url 'login' %}">Log in</a>
        </div>
{% endif %}
    </div>
{% endblock %}