{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="jumbotron">
    {% for f in form %}
    <ul class="list-group">
        <h3> {{ f }}</h3>
            {% for q in data %}
            <li class="list-group-item">
                <a id='result' href="{% url 'vote' q.pk %}">{{ q }}</a><br>
            </li>
        {% endfor %}
    </ul>
    {% endfor %}
    </div>
{% endblock %}