{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="jumbotron">
    <ul class="list-group">
            <ul class="list-group">
        {% for q in object %}
            <li class="list-group-item">
                <a id='result' href="{% url 'vote' q.pk %}">{{ q }}</a><br>
            </li>
        {% endfor %}
    </ul>
    </ul>
    </div>
{% endblock %}