{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="jumbotron">
    <ul class="list-group">
        {% include 'qform/question.html' %}

    </ul>
    </div>
{% endblock %}