{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="jumbotron">
    <ul class="list-group">
        {% for q in data %}
            <li class="list-group-item">
                <a id='result' href="{% url 'in_form' q.pk %}">{{ q }}</a><br>
            </li>
        {% endfor %}
    </ul>
    </div>

{% endblock %}
