{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="jumbotron" id="vtop">
<form method="POST" action="">
    {% csrf_token %}
    {{form|bootstrap}}
    <button type="submit" class="btn btn-success">Log In</button>
    <a href="{% url 'registr' %}">Registration</a>
</form>
</div>
{% endblock %}

