{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="jumbotron">
<form action="" method="post">{% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" value="Create" class="btn btn-primary"/>
</form>
    </div>
{% endblock %}