{% extends "qform/base.html"%}
{% load bootstrap %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron">
<div class="form-group">
    <form id="mainform" action="" method="post" >
        {{ form|bootstrap }}
        <input name="{{ form.owner.name }}" value="{{request.user.pk}}" type="hidden" />
        <div class="row">
            <div class="col-md-4"><input type="button"  class="btn btn-info" id="add" value="add" /></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <input type="submit" class="btn btn-primary" value="Create" id="vmarg"/>
    </form>
    <!--<input type="button" class="new" id="vmarg" value="Add new">-->
</div>
</div>
<script>
    $(document).ready(function() {
        $('#add').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $('<input>', {
                'class': 'form-control',
                'type': 'text',
                'name': 'answer'
            }).insertAfter($(this));
            $(this).after('<br/>');
        });
    });

</script>
<!--<script type="text/javascript" src="{% static 'qform/js/questionmodel_form.js' %}"></script>-->

{% endblock %}