
            <h3 >Question:</h3><br>
            {% for key,value in answers.iteritems %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>{{ key }}</label><br>
                </div>
            </div>

            <label> Answers </label>
            <div class="checkbox">

                <ul>

                    {% for val in value %}
                    <li id="boxes">
                        <input type="text" value="{{ val.answer }}" name="{{ key }}" id="vmarg" disabled>
                    </li>
                    {% endfor %}
                </ul>

    <a href="{% url 'update' key.id %}" class="btn btn-info" >Change question</a>
             </div>
{% endfor %}
