{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="jumbotron" id="vtop">
<form method="POST" action="">{% csrf_token %}
    {{form|bootstrap}}
    <button type="submit" class="btn btn-success">Registrate</button>
    <a href="{% url 'login' %}">Log In</a>
</form>
</div>
{% endblock %}