{% extends "qform/base.html"%}
{% load bootstrap %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron">
<table id="myTable" class="table table-striped" >
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Who answered</th>
        </tr>
    </thead>
    <tbody>
        {% for r in results %}
            <tr>
                <td>{{ r.question }}</td>
                <td>{{ r.answer }}</td>
                <td> {{ r.user }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
     <div id="piechart" style="width:100%; height: 100%;"></div>
    </div>
<script type="text/javascript">
    var answer = [];
    var user = [];
    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var table = $("#myTable").DataTable();
        table.data().each( function (d) {
            answer.push(d[1]);
            user.push(d[2]);
        });
        var count = _.groupBy(answer);
        var f_answ =[];
        for (i in count){
            f_answ[i] = count[i].length
        }
        data = [['Answer', 'Count']];
        for (q in f_answ) {
            v =new Array(q, f_answ[q]);
            data.push(v);
        }
        console.log(data);
        var data = google.visualization.arrayToDataTable(data);

        var options = {
          title: 'Answers'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
{% endblock %}