{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
<div class="jumbotron">
    <form action="" method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <!--<input type="button"  class="btn btn-info" id="add" value="add" />-->
        <lable>Answers:</lable>
        <ul>
            {% for answer in answers%}
            <li id="boxes">
                <input type="text"  class="form-control" name="answer{{answer.pk}}" value="{{ answer }}" id="vmarg"/>
            </li>
            {% endfor %}
        </ul>

        <input type="submit" value="Update" class="btn btn-success" />
    </form>
</div>
<script>
//    $(document).ready(function() {
//        $('#add').on('click', function (e) {
//            e.preventDefault();
//            e.stopPropagation();
//            $('<input>', {
//                'class': 'form-control',
//                'type': 'text',
//                'name': 'answer'
//            }).insertAfter($(this));
//            $(this).after('<br/>');
//        });
//    });
</script>
{% endblock %}