{% extends "qform/base.html"%}
{% load bootstrap %}

{% block content %}
    <div class="jumbotron">

         <form method="POST" id="question" action="">{% csrf_token %}

            <h3 >Question:</h3><br>
            {% for key,value in answers.iteritems %}
            <input type="hidden" name="question" value="{{ key.pk }}">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>{{ key }}</label><br>
                </div>
            </div>
            <label> Answers </label>
            <div class="checkbox">
                <ul>
                    {% for val in value %}
                    <li id="boxes">
                        <input type="{{ key.type_answer }}" value="{{ val.answer }}" name="answer{{key.pk}}" >{{ val.answer }}

                    </li>
                    {% endfor %}
                </ul>
            </div>
             {% endfor %}
            <button type="submit" form="question" class="btn btn-success" id="vmarg">Answer</button>
             <hr>

        </form>
        <ul class="nav navbar-nav" id="links">
            <li><a href="" id="share"> Share</a></li>
        </ul>
        <br>
    </div>
<script>
    $(document).ready(function() {
        $('#share').click(function(e) {
            e.preventDefault();
            e.stopPropagation();
            $('<input>', {
                'class':'form-control',
                'id': 'share',
                'value': 'http://localhost:8000{% url "vote" pk=object.pk %}',
                'disabled': 'disabled'
            }).insertAfter($(this));
            $(this).after('<br/>');
        });
    });
  </script>

{% endblock %}