
body {
    background: url(background.jpg);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 320px 0 0 -190px;
}
input#share {
    width:  400px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;
}
#vtop{
    margin-top: 30px;
}
a, #vmarg{
    margin-top: 10px;
}
#add {
    margin-bottom: 10px;
}
#boxes{
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
   }
